@CHARSET "ISO-8859-1";

@external .*;

@def nav_height 46px;

/* nav { */
/* 	height: nav_height; */
/* 	line-height: nav_height; */
/* } */

/* nav .button-collapse { */
/* 	height: nav_height; */
/* } */

.aqcard.horizontal.card-image img, .aqcard.horizontal.card {
	height: initial !important;
	min-height: 120px;
}

.aqcard {
/* 	position: relative; */
}

.aqcard .card-image {
	width: 120px  !important;
} 

.aqcard .card-content {
	width: initial !important; 
	float: none; 
	overflow: hidden;
	padding: 5px 20px 0px 20px;
} 

.aqcard .card-content .card-title {
	line-height: 1.2;
}

.aqcard .card-action {
	padding: 5px 20px 5px 20px;
/* 	position: absolute; */
/* 	right: 0; */
/* 	bottom: 0; */
/* 	float: none;  */
/* 	overflow: hidden; */
} 

.absoluteContainer {
/* 	height: 100%; */
/* 	position: relative; */
}

.bottomRight {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.TsTable {
	display: table;
	width: 100%;
/* 	overflow: hidden;	 */
}
.TsRow {
	display: table-row;
}
.TsIcon {
	display: table-cell;
	max-width: 2m;
	width: 2m;
}
.TsStamp {
	display: table-cell;
	min-width: 10m;
	width: 20%;
}
.TsId {
	display: table-cell;
	width: 15%;
}
.TsText {
	display: table-cell;
/* 	width: 100%; */
}

.smallbadge {
	top: -2px; 
	padding: 0px !important; 
	padding-top: 7px !important; 
	width: 16px !important; 
	min-width: 16px !important; 
	height: 16px !important; 
	right: -6px !important; 
	border-radius: 100% !important; 
/* 	background-color: rgb(244,67,54) !important; */
	color: rgb(255,255,255) !important;
	font-weight: bold; 
	font-family: Roboto, sans-serif;
	text-align: center;
	position: absolute;
}

.badgeable {
	position: relative;
}
